:root {
    --bs-info-rgb: 58, 84, 109;
    --bs-info: #3a546d;
    --bs-primary-rgb: 26, 188, 156;
    --bs-primary: #1abc9c;
}

.my-color-white {
    color: white;
}

.my-color-green {
    background-color: #1abc9c;
}

header {
    min-height: 300px;
}

footer {
    --bs-link-color-rgb: 26, 188, 156;
}

.my-font-size{
    font-size: 2rem;
}

nav a {
    --bs-link-color-rgb: 255, 255, 255;
    text-decoration: none;
}

.avatar-img {
    width: 200px;
}

section {
    padding: 2rem 0;
}

hr {
    font-size: 1rem;
}

.icon-social {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    aspect-ratio: 1/1;
    border-radius: 50%;
    min-height: 40px;
}

.my-form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    --bs-border-radius: 0;
}

.my-background-color-nav {
    background-color: #2c3e50;
}